<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>
            
     <div class="row">
    
    
       <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/p11.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Personal Portfolio Using Angular8</h4>
          <h5 class="card-text"><b>Technology :</b> Angular8,Bootstrap3 </h5>
            <h5 class="card-text"><a href="#">View my Live Demo</a></h5>
           
          <a href="#" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
          <a href="#" class="btn btn-primary stretched-link">GithubLink</a>
        
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top"src="assets/images/Corona.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Covid_19 Static analysis  Using R</h4>
           <h5 class="card-text"><b>Technology :</b> R , </h5>
    
            <h5 class="card-text"><a href="http://msgc320.pythonanywhere.com/">View my Live Demo</a></h5>
    
        <a href="https://ghoraivanga.github.io/Gocorona_By_Suman_Ghorai/#summary" class="btn btn-primary  stretched-link ml-2 mr-5 ">See Project</a>
          <a href="https://github.com/GhoraiVanga/Gocorona_By_Suman_Ghorai" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
    </div>
    </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/Corona1.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Covid_19 Tracker (Live Project)</h4>
          <h5 class="card-text"><b>Technology :</b> Rxjs,Bootstrap,Angular8 </h5>
            <h5 class="card-text"><a href="http://www.brahmanvarvadhusuchak.com/">View my Live Demo</a></h5>
        <a href="https://coronotracker.herokuapp.com/#/home" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
          <a href="https://github.com/GhoraiVanga/GoCorona_Angular" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
      </div>
    </div>
    </div>
    
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/Exam.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title">Quize App</h4>
           <h5 class="card-text"><b>Technology :</b>JAVA,JSP,Servlet,JSTL </h5>
           <h5 class="card-text"><a href="https://examon.herokuapp.com/"> View my Live Demo</a></h5>
        <a href="https://examon.herokuapp.com/" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
          <a href="https://github.com/GhoraiVanga/QuizApp" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
    </div>
    </div>
      </div>
    
       
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/Shop.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Shoping Website</h4>
           <h5 class="card-text"><b>Technology :</b> Java,jsp,servlet,jstl,Mysql </h5>
             <h5 class="card-text"><a href="https://palashpainonline.herokuapp.com/"> View my Live Demo</a></h5>
          <a href="https://palashpainonline.herokuapp.com/" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
          <a href="https://github.com/GhoraiVanga/QuizApp" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
        </div>
        </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
           <div class="card" >
        <img class="card-img-top" src="assets/images/Shop1.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title">Shopping </h4>
           <h5 class="card-text"><b>Technology :</b> JAVA,Spring Boot,hibernate , Angular8</h5>
             <h5 class="card-text"><a href="http://alcholonline.herokuapp.com/product"> View my Live Demot</a></h5>
          <a href="http://alcholonline.herokuapp.com/product" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
          <a href="https://github.com/GhoraiVanga/shop2" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
        </div>
        </div>
        </div>
    
    
     <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/Chat.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Web Chatting  </h4>
          <h5 class="card-text"><b>Technology :</b> Spring Boot </h5>
          <h5 class="card-text"><a href="https://onlinechating.herokuapp.com/"> View my Live Demot</a></h5>
         <a href="https://onlinechating.herokuapp.com/" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
          <a href="https://github.com/GhoraiVanga/Spring-Boot-WebSocket" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/Rpubs.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Data Analytics Project</h4>
           <h5 class="card-text"><b>Technology :</b> R</h5>
       <a href="https://rpubs.com/ghorai77/" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
          
        </div>
        </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/Kaggle.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Kaggle Competition Project</h4>
           <h5 class="card-text"><b>Technology :</b> R</h5>
       <a href="https://www.kaggle.com/sumanhere/notebooks" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
          
        </div>
        </div>
        </div>
      </div>
    
      
    
    
    </div>
    </div>
  </div>